.widget-playlist-slider{
	.playlist-slider{
		position: relative;
		opacity: 0;
		.playlist-img{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.sp-slide{
			top: 0;
			iframe, .wp-video-shortcode, .wp-video {
				height: 100% !important;
				width: 100% !important;
			}
			.playlist-img, .sp-slide-content, .sp-slide-preview{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.sp-slide-content{
				z-index: 1;
				padding: 10px;
				@include media-breakpoint-up(md){
					padding: 40px;
				}
				.sidebar-secondary &,
				.sidebar-primary &,
				.footer-area &{
					padding: 10px 5px;
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: -1;
					opacity: .3;
				}
				div{
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.playlist-meta {
					margin-top: 15px;
					margin-bottom: 0;
				}
				.post-date, .post-author{
					i{
						padding-right: 10px;
					}
				}
				.post_tag, .category{
					a{
						padding: 0 6px;
						margin: 0 0 3px 0;
					}
				}
				.post-date {
					display: inline-block;
					margin-right: 15px;
				}
				.post-author{
					text-transform: capitalize;
					display: inline-block;
				}
				.category a{
					display: inline-block;
					vertical-align: top;
					padding: 0 13px;
					margin: 0 3px 3px 0;
					text-decoration: none;
					line-height: 30px;
					border-radius: 4px;
					font-weight: 700;
					@include font-size(.75);
					letter-spacing: 0.72px;
					text-transform: uppercase;
				}
				.post_tag{
					margin-top: 5px;
				}
				.post_tag a {
					font-size: 12px !important;
					font-size: 0.75rem !important;
					line-height: 16px;
					padding: 7px 10px;
					border-radius: 4px;
					text-decoration: none;
					display: inline-block;
					margin: 0 3px 3px 0;
					font-style: italic;
				}

				h2{
					margin-top: 0;
				}
			}
			&.sp-post-format-video {
				.sp-slide-content{
					display: none;
				}
			}
			&.sp-post-format-quote {

			}
			&.post-format-link{
			}
		}
		.sp-right-thumbnails{
			margin-left: 0;
		}
		.sp-bottom-thumbnails{
			margin-top: 0;
		}
		.sp-thumbnail-container{
			.before-content-area &,
			.after-content-area &,
			.full-width-header-area &,
			.before-loop-area &,
			.after-loop-area &,
			.after-content-full-width-area &{
				@media (min-width: 1201px) {
					padding: 20px;
				}
			}
			margin: 0;
			background: #1C2D5B;
			background: -webkit-linear-gradient(to top, rgba(#1C2D5B, .95) 0%, #1C2D5B 100%);
			background: linear-gradient(to top, rgba(#1C2D5B, .95) 0%, #1C2D5B 100%);
		}
		.sp-thumbnail{

			.sp-selected-thumbnail{
			}
			.thumbnail-content{
				position: relative;
				z-index: 1;
				padding: 10px;
				h6{
					@include font-size(.8125);
					font-weight: 300;
					margin-top: 0;
				}
			}
			.playlist-img {
				border-radius: $border__radius;
				height: 70px;
				width: 70px;
				float: left;
				margin-right: 15px;
				.sidebar-secondary &,
				.sidebar-primary &,
				.footer-area &{
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 0;
					&:before{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						content: '';
						opacity: .3;
					}
				}
				@media (max-width: 1200px){
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 0;
					&:before{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						content: '';
						opacity: .3;
					}
				}
			}
			.sidebar-primary &,
			.sidebar-secondary &,
			.footer-area &{
				.playlist-img {
						position: absolute;
						width: 100%;
						height: 100%;
				}
			}
		}
		.sp-thumbnail:after, .sp-slide:after {
			content:'';
			display: block;
			clear: both;
		}
	}

}