.sidebar-primary, .sidebar-secondary, .footer-area{
	.news-smart-box{
		article {
			flex: 0 0 100%;
			max-width: 100%;
		}
		.news-smart-box__navigation{
			flex-flow: row wrap;

			.current-term{
				margin: 0 0 10px 0;
			}
		}
	}
}
.news-smart-box{

	&__instance{
		article.post{

			&.full-type{
				.inner{
					margin-top: 0;
					padding-top: 0;
					border-top: none;

					.smart-box-image {
						border-radius: $border__radius $border__radius 0 0;
					}

					.entry-content {
						padding-left: 10px;
						padding-right: 10px;
						padding-bottom: 20px;
						@include media-breakpoint-up(md){
							padding-left: 30px;
							padding-right: 30px;
							padding-bottom: 25px;
						}
						@include card();
						.sidebar-primary &, .sidebar-secondary &, .footer-area &{
							padding-left: 0;
							padding-right: 0;
							margin-top: 10px;
							margin-bottom: 10px;
						}
						.entry-meta{
							padding: 0;
							border: none;
						}
					}
					.post__excerpt{
						margin: 24px 0;
					}
				}
			}
			&.mini-type{
				.entry {
					&-header {
						max-width: 150px;
						float: left;
						margin-right: 20px;
						margin-bottom: 10px;
						.smart-box-image {
							border-radius: $border__radius $border__radius 0 0;
						}
						@media (max-width: 767px) {
							max-width: 70px;
						}
						.sidebar-primary &, .sidebar-secondary &, .footer-area &{
							max-width: 70px;
						}
					}
					&-content {
						margin-top: 0;
						margin-bottom: 0;
						.entry-meta{
							padding: 0;
							border: none;
						}
					}
					&-footer {

					}
				}
			}
			.inner{
				margin-top: 20px;
				padding-top: 20px;
				border-top: 1px solid #EBEBEB;
				@include transition(all 0.8s ease);
				&.animate-cycle-show{
					@include opacity(0);
					@include translate( 0, 30px );
					@include transition(all 0s ease);
				}
			}
			.entry {
				&-header {
					position: relative;
				}
				&-content {
				}
				&-footer {

				}
			}
			.post-thumbnail__link{
				display: block;
				img{
					width: 100%;
					display: block;
				}
			}
			.post{
				&__cats{
					position: absolute;
					top: 10px;
					left: 10px;
					@include media-breakpoint-up(md){
						top: 30px;
						left: 30px;
					}
					.sidebar-primary &, .sidebar-secondary &, .footer-area &{
						top: 10px;
						left: 10px;
					}
				}
				&__date{
					float: left;
				}
				&__comments{
					float: left;
				}
				&__author{
					float: left;
					text-transform: capitalize;
					margin-right: 30px;
				}
				&__excerpt{

				}
			}
		}
		&.layout_type_1{
			.row{
				display: block;
			}
			.full-type{
				float: left;
			}
			.mini-type{
				float: left;
				&.post-item-1{
					.inner{
						margin-top: 0;
						padding-top: 0;
						border-top: none;
					}
				}
			}
		}
		&.layout_type_2{

		}
		&.layout_type_3{
			.full-type{
				.entry {
					&-header {
						@include media-breakpoint-up(sm){
							max-width: 50%;
							float: left;
							margin-right: 30px;
							margin-bottom: 10px;
						}
						.sidebar-primary &, .sidebar-secondary &, .footer-area &{
							@media (min-width: 768px) and (max-width: 1199px) {
								float: none;
								margin-right: 0;
								max-width: 100%;
							}
						}
					}
					&-content {
						margin-top: 0;
					}
					&-footer {

					}
				}
			}
		}
	}
	&__navigation{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 18px;
			.current-term{
				flex: 0 1 auto;
				position: relative;
			}
			.terms-list{
				flex: 1 1 auto;
				//border-bottom: 1px solid #d2d1d1;
				.terms-container{
					float: right;
				}
				.term-item{
					position: relative;
					display: inline-block;
					margin: 0;

					span{
						display: block;
						padding: 10px 0;
						margin-right: 30px;
						cursor: pointer;
					}
					&:last-child {
						span{
							margin-right: 0;
						}
					}
					/*&:before{
						width: 0%;
						height: 3px;
						display: block;
						position: absolute;
						left: 50%;
						bottom: 10px;
						background-color: #000;
						opacity: 0;
						content: '';
						@include transition( all 0.4s ease);
					}
					&:hover{
						&:before{
							width: 100%;
							left: 0;
							bottom: 0;
							opacity: 1;
						}
					}*/
				}
			}
	}
	&__wrapper{
		position: relative;
	}
	&__listing{

	}
	&__preloader{
		position: relative;
		display: none;
		width: 100%;
	}
}

.nsb-spinner {
	width: 35px;
	height: 35px;
	position: absolute;
	display: none;
	top: 50%;
	@include transform(translateY(-50%));
	right: -50px;
}

.double-bounce-1, .double-bounce-2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	animation: tm-bounce 2.0s infinite ease-in-out;
}

.double-bounce-2 {
	animation-delay: -1.0s;
}

@keyframes tm-bounce {
	0%, 100% {
		transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
	}
}