.post {
	&-author {
		&-bio {
			padding: 10px 0;
			border-top: 1px solid $color__background-hr;
			@include media-breakpoint-up(lg) {
				padding: 35px 0;
			}
		}
		&__holder {
			padding: 15px;
			@include media-breakpoint-up(lg) {
				padding: 30px 30px;
			}
		}
		&__avatar {
			float: left;
			margin: 0 15px 10px 0;
			@include media-breakpoint-up(lg) {
				margin: 0 30px 10px 0;
			}
			.avatar {
				width: 70px;
				vertical-align: top;
				border-radius: $border__radius;
				@include media-breakpoint-up(lg) {
					width: auto;
				}
			}
		}
		&__title {
			margin-top: 0;
			@include media-breakpoint-up(lg) {
				font-size: 20px;
				line-height: 1.4;
				margin: 0 0 20px;
			}
		}
	}
}